@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal{
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}
button.normal:hover{
  padding: 20px 35px;
  color: #088178;
}
button.white{
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid white;
  outline: none;
  transition: 0.2s;
}
body {
  width: 100%;
}

/* Hearder start */

#header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 80px;
  background-color: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}
#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li{
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#navbar li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
  
}
#navbar li a:hover{
  color: #088178;
}
#navbar li a:hover,
#navbar li a.active{
  color: #088178;
}
#navbar li a.active::after,
#navbar li a:hover::after{
  content: "";
  width: 50%;
  height: 2px;
  background-color: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
  
}
/* Home page */
#hero{
  background-image: url("img/hero4.jpg");
  height: 90vh;
  width: 100%;
  background-position: top 25% right 0;
  background-size: cover;
  padding: 0px 150px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
#hero p{
  color:#1a1a1a;
}
#hero h4{
  padding-bottom: 15px;
  color: #088178;
}
#hero h1{
  color: #088178;
}
#hero .your-attire{
  color: #064e49;
  padding: 20px 0px;
}
#hero button{
  background-color: #1a1a1a;
  background: transparent;
  color: #088178;
  border: solid black;
  padding: 10px;
  font-weight: 700;
  font-size: 15px;
}


#feature{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#feature .fe-box{
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
  transition: 0.3s ease;
}
#feature .fe-box img{
  width: 100%;
  margin-bottom: 10px;
}
#feature .fe-box:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
}
#feature .fe-box h6{
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #d1e8f2;
}
#feature .fe-box:nth-child(2) h6{
  background-color: #fddde4;
}
#feature .fe-box:nth-child(3) h6{
  background-color: #cdebbc;
}

#feature .fe-box:nth-child(4) h6{
  background-color: #cdd4f8;
}
#feature .fe-box:nth-child(5) h6{
  background-color: #f6dbf6;
}
#feature .fe-box:nth-child(6) h6{
  background-color: #fff2e5;
}


#product1{
  text-align: center;
}
#product1 .pro-container{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
#product1 .pro{
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}
#product1 .pro:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);

}

#product1 .pro img{
  width: 100%;
  border-radius: 20px;
}
#product1 .pro .des{
  text-align: start;
  padding: 10px 0;
}
#product1 .pro .des span{
  color: #606063;
  font-size: 12px;
}
#product1 .pro .des h5{
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}
#product1 .pro .des i{
  font-size: 12px;
  color: gold;
}
#product1 .pro .des h4{
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}
#product1 .pro .cart{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 40%;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}


#banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.61),rgba(0, 0, 0, 0.45)),url("img/banner/alexander-schimmeck-dgiv6SJ5SL4-unsplash.jpg");
  width: 100%;
  height: 35vh;
  background-size: cover;
  background-position: center;
}
#banner h2 span{
  color: #ff2525;
}
#banner h4{
  color: #fff;
  font-size: 16px;

}
#banner h2{
  color: #fff;
  font-size: 30px;
  padding: 10px 0;
}
#sm-banner{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#sm-banner .banner-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  background-image: linear-gradient(rgba(125, 109, 109, 0.61),rgba(122, 102, 102, 0.45)),url("img/banner/pexels-polina-tankilevitch-5585841.jpg");
  min-width: 580px;
  height: 40vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}
#sm-banner .second-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  background-image: linear-gradient(rgba(125, 109, 109, 0.61),rgba(122, 102, 102, 0.45)),url("img/banner/pexels-andrea-piacquadio-787929.jpg");
  min-width: 580px;
  height: 40vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}
#sm-banner h4{
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}
#sm-banner h2{
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}
#sm-banner span{
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}
#sm-banner .banner-box:hover button{
  background-color: #000000;
  border: 1px solid #000000;
}
#sm-banner .second-box:hover button{
  background-color: #000000;
  border: 1px solid #000000;
}

#newsletter{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.61),rgba(0, 0, 0, 0.45)),url(img/banner/pexels-vlada-karpovich-4050334.jpg);
  background-repeat: no-repeat;
  background-position: 20% 60%;
  height: 300px;
}
#newsletter h4{
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}
#newsletter p{
  font-size: 14px;
  font-weight: 600;
  color: #a8b1be;
}
#newsletter p span{
  color: rgb(214, 132, 25);
}
#newsletter .form{
  display: flex;
  width: 30%;
}
#newsletter input{
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  transition: 0.2s ease;
}
#newsletter button{
  background-color: #088178;
  color: #fff;
  width: 40%;
  transition: 0.2s ease;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
#newsletter input:hover{
  padding: 20px 35px;
}
#newsletter button:hover{
  padding: 15px 35px;
}

footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .col{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
footer .logo{
  margin-bottom: 30px;
}
footer h4{
  font-size: 14px;
  padding-bottom: 20px;
}
footer p{
  font-size: 13px;
  margin: 0 0 8px 0;
}
footer a{
  text-decoration: none;
  font-size: 13px;
  color: #222;
  margin-bottom: 10px;
}
footer .follow{
  margin-top: 20px;
}
footer .follow i{
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}
footer .install .row img{
  border: 1px solid #000;
  border-radius: 6px;
}
footer .install img{
  margin: 10px 0 15px 0;
}
footer .follow i:hover,
footer a:hover{
  color: #088178;
}
footer .copyright{
  width: 100%;
  text-align: center;
}
#mobile{
  display: none;
  align-items: center;
}
#close{
  display: none;
}

/* PAGE SHOP  */

#page-shop{
  background-image: linear-gradient(rgba(0, 0, 0, 0.61),rgba(0, 0, 0, 0.45)),url('img/banner/pexels-sam-lion-5709656.jpg');
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}
#page-shop h2,
#page-shop p{
  color: #fff;
}
#pagination{
  text-align: center;
}
#pagination a{
  text-decoration: none;
  background-color: #14bbb0;
  padding: 15px 20px;
  border-radius: 10px;
  color: #fff;
  font-weight: 600;
}
#pagination a i{
  font-size: 16px;
  font-weight: 600;
}

/* Single Product */


#prodetails{
  display: flex;
  margin-top: 20px;
}
#prodetails .single-pro-image{
  width: 40%;
  margin-right: 50px;
}

.small-img-group{
  display: flex;
  justify-content: space-between;
}
.small-img-col{
  flex-basis: 24%;
  cursor: pointer;
}

#prodetails .single-pro-details{
  width: 50%;
  padding-top: 30px;
}
#prodetails .single-pro-details h4{
  padding: 40px 0 20px 0;
}
#prodetails .single-pro-details h2{
  font-size: 26px;
}
#prodetails .single-pro-details select{
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}
#prodetails .single-pro-details input{
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}

#prodetails .single-pro-details button{
  background: #088178;
  color: #fff;
}
#prodetails .single-pro-details span{
  line-height: 25px;
}




















/* start media query */
@media (max-width: 799px){
  .section-p1{
    padding: 40px 40px;
  }
  #navbar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #e3e6f3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s ease;
  }
  #navbar.active{
    right: 0;
  }
  #navbar li{
    margin-bottom: 20px;
  }
  #mobile{
    display: flex;
    align-items: center;
  }
  #mobile i{
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
  }
  #close{
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 24px;
  }
  #hero {
    height: 70vh;
    background-position: top 30% right 30%;
    padding: 0px 80px;
  }
  #feature{
    justify-content: center;
  }
  #feature .fe-box{
    margin: 15px 15px;
  }
  #product1 .pro-container{
    justify-content: center;
  }
  #product1 .pro{
    margin: 15px;
  }
  #banner{
    height: 20vh;
  }
  #sm-banner .banner-box{
    min-width: 100%;
    height: 50vh;
  }
  #newsletter .form{
    width: 70%;
  }
}

@media(max-width: 477px){
  .section-p1{
    padding: 20px;
  }
  #header {
    padding: 0px 25px 0px 0px;
  }
  .cart{
    display: none;
  }
  h2{
    font-size: 32px;
  }
  h1{
    font-size: 38px;
    color: #d0ddd2;
  }
  #hero{
    padding: 0 20px;
    background-position: 55%;
  }
  
  #hero h2{
    color: #ffffff;
  }
  #hero h1{
    color: #ffffff;
  }
  #hero p{
    color: #cce7d0;
  }
  #feature .fe-box{
    width: 155px;
    margin: 0 0 15px 0;
  }
  #feature{
    justify-content: space-between;
    
  }
  #product .pro{
    width: 100%;
  }
  #banner{
    height: 35vh;
  }
  #sm-banner .banner-box{
    height: 35vh;
  }
  #newsletter .form{
    width: 90%;
  }
  #newsletter button {
    padding: 10px 15px;
  }
  #newsletter button:hover {
    padding: 0 10px 0 10px;
  }


  /* single products*/


  #prodetails{
    display: flex;
    flex-direction: column;
  }
  #prodetails .single-pro-image{
    width: 100%;
    margin-right: 0px;
  }
  #prodetails .single-pro-details{
    width: 100%;
    padding-top: 30px;
  }
  #cart-add{
    width: 100%;
    flex-direction: column;
  }
  #coupon{
    width: 100% !important;
  }
  #subtotal{
    width: 100% !important;
    padding: 20px;
  }

}

/*  Cart */

#cart{
  overflow-x: auto;
}

#cart table{
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}

#cart table img{
  width: 70px;
}

#cart table td:nth-child(1){
  width: 100px;
  text-align: center;
}

#cart table td:nth-child(2){
  width: 100px;
  text-align: center;
}

#cart table td:nth-child(3){
  width: 100px;
  text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
  width: 100px;
  text-align: center;
}

#cart table td:nth-child(5) input{
  width: 70px;
  padding: 10px 5px 10px 15px;
}
#cart table thead{
  border: 1px solid #e2e9e1;
  border-left: none;
  border-right: none;
}
#cart table thead td{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding: 18px 0;
}
#cart table tbody tr td{
  padding-top: 15px;
}
#cart table tbody td{
  font-size: 13px;
}
#cart-add{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#coupon{
  width: 50%;
  margin-bottom: 30px;
}
#coupon h3,
#subtotal h3{
  padding-bottom: 15px;
}
#coupon input{
  padding: 10px 20px;
  outline: none;
  width: 60%;
  margin-right: 10px;
  border: 1px solid #e2e9e1;
}
#coupon button,
#subtotal button{
  background-color: #088178;
  color: #fff;
  padding: 12px 20px;
}
#subtotal{
  width: 50%;
  margin-bottom: 30px;
  border: 1px solid #e2e9e1;
  padding: 30px;
}
#subtotal table{
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}
#subtotal table td{
  width: 50%;
  border: 1px solid #e2e9e1;
  padding: 10px;
  font-size: 13px;
}
